<a href="https://colab.research.google.com/github/pepetellez/BEDU-Data-Analysis/blob/main/Procesamiento-de-Datos-con-Python/6_APIs_automatizaci%C3%B3n_y_concatenacion_de_DataFrames/s6_r5automatizando_peticiones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 5: Automatizando peticiones

### 1. Objetivos:
    - Automatizar la petición de datos a la API de la NASA por fechas.
 
---
    
### 2. Desarrollo:

### a) Automatizando peticiones

En el primer Reto realizaste una petición a la API de la NASA para pedir 5 datos de la hoja #100. Ahora, vamos a automatizar el proceso de realizar peticiones a la API para obtener una cantidad bastante mayor de datos.

Vamos a obtener ahora los datos por fechas, así que tendrás que ir a la página de la [api de la NASA](https://api.nasa.gov/), para revisar cómo es posible realizar peticiones por fecha. Queremos obtener los **dos primeros meses (Enero y Febrero) del año 1995**. Observa que la API sólo permite peticiones por fecha en rangos de 7 días.

Tu reto tiene los siguientes pasos:

1. Revisa la documentación de la API de la NASA para entender cómo realizar peticiones por fecha.
2. Realiza una primera petición de prueba para entender el formato de los datos que obtienes de regreso (cómo extraemos los datos que necesitamos y qué estructura tienen).
2. Escribe el código necesario para automatizar las peticiones a la API y obtener los meses de Enero y Febrero del año 1995.
3. Almacena los datos de cada petición y luego usa esos datos para crear `DataFrames`.
4. Concatena verticalmente tus `DataFrames` para obtener un `DataFrame` final que contenga todos los datos de tus peticiones. Cada fila tiene que corresponder a un objeto espacial.
5. Guarda tu `DataFrame` con el nombre de `near_earth_objects-january_february_1995-raw.csv`.

> **Nota**: En este momento no te preocupes por explorar o limpiar tu dataset. Eso lo haremos en la siguiente sesión. Lo que sí tienes que asegurarte es de normalizar tus datos antes de convertirlos en `DataFrame`.

¡Mucha suerte!

In [ ]:
import requests
import pandas as pd
from datetime import datetime 
from datetime import timedelta 

final = pd.DataFrame()

url_1 = "https://api.nasa.gov/neo/rest/v1/feed?start_date="
url_2 = "&api_key="

api_key = "P0WQHp71VhGDZSOnLuf6EyS7WDkxm6W9T3xeGdie"
start_date = "1995-01-01" #Fecha de inicio
end_date = "1995-02-28" #Fecha final

fecha_7anios = datetime.strptime(start_date, "%Y-%m-%d") #String a Fecha
fecha_7anios_str = fecha_7anios.strftime("%Y-%m-%d") #Fecha a String
fecha = fecha_7anios

for i in range(8): #Loop API, json con 7 años
  
  url = url_1 + fecha_7anios_str + url_2 + api_key #Link para API

  r = requests.get(url)

  data = r.json()

  for i in range(8): #Loop en el json año por año
    fecha_str = fecha.strftime("%Y-%m-%d") #Date a Str para navegar en el json
    if(fecha.strftime("%m") == "03"): #Si llega a Marzo, para
      break
    data1 = data['near_earth_objects'][fecha_str] #Nivel de fechas en json
    data_frame = pd.json_normalize(data1) #Normaliza json
    final = final.append(data_frame, ignore_index=True) #Agrega el nuevo DF al acumulado
    fecha += timedelta(days=1) #Incrementa un año al conteo

  fecha_7anios = fecha #Actualiza fecha(date) para API
  fecha_7anios_str = fecha_7anios.strftime("%Y-%m-%d") #Fecha a String

final.to_csv(r'near_earth_objects-january_february_1995-raw.csv')
final

           id  ... estimated_diameter.feet.estimated_diameter_max
0     3703080  ...                                     891.302306
1     3723955  ...                                    1071.581063
2     3792437  ...                                     467.762099
3    54105518  ...                                      95.945593
4     3553279  ...                                     851.187094
..        ...  ...                                            ...
362   3730574  ...                                    4898.070480
363   3781651  ...                                     177.838190
364   3781897  ...                                     128.832380
365  54097866  ...                                      83.565118
366  54121907  ...                                     651.665951

[367 rows x 17 columns]